@import 'tailwindcss';

@theme {
    --color-bg: #282726;
    --color-headline: #F9F4DA;
    --color-paragraph: #8E8E8E;

    --color-info-bg-ingame: #7A5EA7;
    --color-info-bg-won: #10A95B;
    --color-info-bg-lost: #BA2A2A;

    --color-letter: #F9F4DA; /* == border-color */
    --color-letter-bg: #323232;
    
    --color-char-open: #FCBA29;
    --color-char-hit: #10A95B;
    --color-char-fail: #EC5D49;
    --color-char-border: #D7D7D7;

    --color-resetButton: #11B5E5;

}